*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#app {
  background: #f7f7f7;
}
.main {
  width: 75%;
  position: relative;
  left: 100px;
}

.banner {
  background-color: #333;
}

.aboutWrap {
  position: relative;
  float: center;
  padding: 25px;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 10px;
  top: 25px;
  background: #fff;
}

.photo {
  position: relative;
  right: 70px;
  top: 50px;
}

.photoTwo {
  height: 300px;
  width: 350px;
  position: relative;
  left: 100px;
}

.photoThree {
  height: 140px;
  width: 250px;
  position: relative;
  left: 97px;
  bottom: 140px;
}
.side {
  padding: 15px;
}

.sideInfo {
  font-size: 14px
}

.photoOne {
  height: 140px;
  width: 250px;
  position: relative;
  left: 97px;
  bottom: 160px;
}

.restaurant {
  font-size: 50px;
  font-family: Arial;
  position: relative;
  left: 5px;
}

.description {
  font-family: Arial;
}


.sidebar {
  width: 15%;
  bottom: 40em;
  left: 900px;
  position: relative;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 10px;
  background: #fff;
}

.grid {
  content: "";
  display: table;
  clear: both;
  background: #f7f7f7;
  margin-left:auto;
  margin-right:auto;
  width:960px;
}

.rowAbout {
  padding: 10px;
}